name: laravel-tests

on:
  push:
    branches: ["master"]
  pull_request: 
    branches: ["master"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, xml, pcntl, pdo_mysql
          coverage: xdebug

      - name: Install Dependencies
        working-directory: nasa-app
        run: composer install --no-interaction --prefer-dist

      - name: Copy .env.example to .env
        working-directory: nasa-app
        run: cp .env.example .env

      - name: Generate App Key
        working-directory: nasa-app
        run: php artisan key:generate

      - name: Fail if JS files exist
        run: |
            if git diff --name-only HEAD origin/master | grep ".js"; then
              echo "❌ Tidak boleh file selain .php"
              exit 1
            fi
      - name: Fail if empty PHP or forbidden files exist
        working-directory: nasa-app
        run: |
          # cek file kosong di folder Laravel penting
          EMPTY_FILES=$(find app routes tests database -type f -size 0)
          if [ ! -z "$EMPTY_FILES" ]; then
              echo "❌ File kosong terdeteksi:"
              echo "$EMPTY_FILES"
              exit 1
          fi
      
          # larang file JS di luar resources/
          JS_FILES=$(find . -type f -name "*.js" \
            -not -path "./resources/*" \
            -not -path "./public/*")
      
          if [ ! -z "$JS_FILES" ]; then
              echo "❌ File JS dilarang:"
              echo "$JS_FILES"
              exit 1
          fi
      
          echo "✔ Validasi file lolos"

      - name: Run Tests
        working-directory: nasa-app
        run: php artisan test
